.creation_wrapper {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 8px;
    left: 840px;
    font-size: 12px;
    font-weight: normal;
    color: #8a8888;
}

.button__create {
    height: 32px;
    width: 100px;
    background: #00a6ff;
    color: white;
    border: solid 2px white;
    border-radius: 6px;
    margin: 12px 0 0 40px;
}
