.action_wrapper {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 8px;
    left: 840px;
    font-size: 12px;
    font-weight: normal;
    color: #8a8888;
}
