.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    position: relative;
    background: rgba(229, 229, 225, 0.3);
    /*margin-left: 12px;*/
}

.main_header {
    height: 40px;
    width: 800px;
    display: flex;
    color: darkgrey;
    font-size: 12px;
    font-weight: bold;
}

.main_header_item {
    width: 160px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    margin-left: 12px;

}

.main_messages {
    display: flex;
}

.button__create {
    height: 32px;
    width: 100px;
    background: #00a6ff;
    color: white;
    border: solid 2px white;
    border-radius: 6px;
    margin: 12px 0 0 720px;
}
