.header {
    width: 100vw;
    background: rgba(238, 238, 234, 0.3);
    color: #00a6ff;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
